<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SERTIFIKAT KOPETENSI KELULUSAN</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="h1 text-center">SERTIFIKAT KOPETENSI KELULUSAN</h1>
      <hr class="border" />
      <p class="h2 text-center">No. {{.ID}}</p>
      <p class="h3 text-center">Nama : {{.Name}}</p>
      <p class="h3 text-center">Course : {{.CourseName}}</p>
      <p class="h3 text-center">Date : {{.Date}}</p>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
